# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains
.idea/

# Windows App SDK
*.pri
*.pri.proj

# App packages
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle

# Others
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
